<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scausw215.train.mapper.PassengerMapper">

    <resultMap id="BaseResultMap" type="com.scausw215.train.entity.Passenger">
            <id property="passengerId" column="passenger_id" jdbcType="BIGINT"/>
            <result property="passengerName" column="passenger_name" jdbcType="VARCHAR"/>
            <result property="passengerType" column="passenger_type" jdbcType="INTEGER"/>
            <result property="passengerCardNumber" column="passenger_card_number" jdbcType="VARCHAR"/>
            <result property="passengerPhone" column="passenger_phone" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="addPassenger" parameterType="">

    </insert>
    <update id="updatePassenger">

    </update>
    <delete id="deletePassengerById">

    </delete>
    <select id="getPassengerById" resultType="com.scausw215.train.entity.Passenger">

    </select>
</mapper>
