<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scausw215.train.mapper.TrainTicketTicketRefundedPassengerSeatTypeMapper">

    <resultMap id="BaseResultMap" type="com.scausw215.train.entity.Usage.TrainTicketTicketRefundedPassengerSeatType">
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="passengerId" column="passenger_id" jdbcType="BIGINT"/>
            <result property="trainId" column="train_id" jdbcType="BIGINT"/>
            <result property="ticketId" column="ticket_id" jdbcType="BIGINT"/>
            <result property="carNumber" column="car_number" jdbcType="INTEGER"/>
            <result property="isSold" column="is_sold" jdbcType="INTEGER"/>
            <result property="ticketPrice" column="ticket_price" jdbcType="INTEGER"/>
            <result property="startSaleTime" column="start_sale_time" jdbcType="TIMESTAMP"/>
            <result property="endSaleTime" column="end_sale_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="sstStationName" column="sst_station_name" jdbcType="VARCHAR"/>
            <result property="estStationName" column="est_station_name" jdbcType="VARCHAR"/>
            <result property="trainCode" column="train_code" jdbcType="VARCHAR"/>
            <result property="trainName" column="train_name" jdbcType="OTHER"/>
            <result property="seatName" column="seat_name" jdbcType="VARCHAR"/>
            <result property="seatDescription" column="seat_description" jdbcType="VARCHAR"/>
            <result property="refundedReason" column="refunded_reason" jdbcType="VARCHAR"/>
            <result property="refundedPrice" column="refunded_price" jdbcType="INTEGER"/>
            <result property="refundedTime" column="refunded_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <update id="refundedByTicketId">
        update train_ticket_ticketSale_passenger_seat_type set is_sold = 0,is_refunded = 1 where ticket_id = #{id}
    </update>
    <select id="getAllByTrainId"
                resultType="com.scausw215.train.entity.Usage.TrainTicketTicketRefundedPassengerSeatType">
                select * from train_ticket_ticket_refunded_passenger_seat_type where train_id = #{id}
        </select>


</mapper>
