<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scausw215.train.mapper.TrainInfoMapper">

    <resultMap id="BaseResultMap" type="com.scausw215.train.entity.DO.TrainInfoDO">
        <id property="trainId" column="train_id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="startStation" column="start_station" jdbcType="BIGINT"/>
        <result property="endStation" column="end_station" jdbcType="BIGINT"/>
        <result property="trainTypeId" column="train_type_id" jdbcType="BIGINT"/>
    </resultMap>

</mapper>
